@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.spinner4:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 40%;
  left: 45%;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 5px solid black;
  border-top-color: #fff;
  border-bottom-color: #fff;
  animation: spinner 0.4s ease-in infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.gridContainer img {
  width: 100%;
  max-width: 13rem;
  height: auto;
}

.box {
  background: #eee;
  padding: 1rem 1.5rem;
}
.header {
  display: flex;
  align-items: flex-start;
}
.header h4 {
  flex: 20%;
}

.footer p {
  font-size: 0.7rem;
}

.header img {
  flex: 1;
}

.lead {
  font-size: 1.2rem;
  margin: 1rem 0;
  word-wrap: break-word;
}
.container {
  max-width: 1100px !important;
  margin: auto;
  margin-top: 2rem;
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

  grid-gap: 1rem;
}
